# Игнорировать файлы и папки, которые не должны попасть в Docker-образ

# Игнорировать временные файлы и папки
.tmp
.temp
.cache

# Игнорировать файлы и папки, связанные с системой управления версиями
.git
.svn
.hg
.CVS

# Игнорировать файлы и папки, создаваемые IDE или текстовыми редакторами
.idea
.vscode
*.swp
*.swo
*.bak
*~

# Игнорировать файлы и папки, содержащие зависимости
node_modules
vendor

# Игнорировать логи и файлы отладки
*.log
logs
debug.log

# Игнорировать временные и скомпилированные файлы
*.tmp
*.bak
*.pyc
*.class
*.o
*.a
*.so
*.dll
*.exe
*.out
*.bin
*.iso
*.jar

# Игнорировать сгенерированные артефакты сборки
dist
build
target
out

# Игнорировать файлы и папки с конфиденциальной информацией
.secret
.credentials

# Игнорировать файлы конфигурации
*.config
*.conf
*.ini
*.properties

# Игнорировать временные файлы редакторов Jupyter Notebook
.ipynb_checkpoints
