# Игнорировать временные и скомпилированные файлы Python
*.pyc
__pycache__

# Игнорировать виртуальное окружение Python
venv/
env/

# Игнорировать папку с зависимостями
lib/

# Игнорировать файлы конфигурации Flask
instance/
.webassets-cache

# Игнорировать файлы логов Flask
logs/

# Игнорировать файлы базы данных SQLite
*.db

# Игнорировать файлы секретов и конфиденциальной информации
.env
secrets.yaml

# Игнорировать контейнеры и образы Docker
.docker/
docker-images/

# Игнорировать UNIT-файл виртуальной машины
flask_app.service.example
