<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма с данными</title>
</head>
<body>
    <form method="POST" action="/submit-form">
        <label for="surname">Фамилия:</label>
        <input type="text" id="surname" name="surname" required><br><br>

        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="wishlist">Пожелания:</label>
        <textarea id="wishlist" name="wishlist" required></textarea><br><br>

        <input type="submit" value="Отправить">
    </form>
</body>
</html>
<!--я хотел сделать API с HTML, а потом понял, что это будет долго и придется меня все, к сожалению не в этот раз(-->